truststore==0.10.4
typer==0.27.1
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.4
urllib3==2.7.0
uuid_utils==0.17.1
uvicorn==0.52.4
watchdog==6.0.0
watchfiles==1.2.0
websocket-client==1.9.0
websockets==16.1.1
xxhash==4.0.1
yarl==1.24.5
zstandard==0.25.0